<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Terraria{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
    <style>
        .main-container {
            width: 80%;
            margin: auto;
            padding-top: 50px;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="ui container main-container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
</body>
<script>
    $(document).ready(function() {
      $('.ui.dropdown').dropdown();
    });
  </script>
</html>
