<!-- navbar.html -->
<div class="ui menu fixed">
    <a href="{% url 'home' %}" class="header item">
        <i class="large seedling icon green"></i>
        Terraria
    </a>
    <a href="{% url 'plants' %}" class="item">
        Plantas
    </a>
    <a href="{% url 'home' %}" class="item">
        Registros
    </a>
    <div class="right menu">
        {% if user.is_authenticated %}
            <div class="item">
                <span>{{ user.get_full_name|default:user.username }}</span>
            </div>
            <div class="item">
                <a href="{% url 'logout' %}" class="ui button">Cerrar sesión</a>
            </div>
            <div class="item">
                <a href="{% url 'crear_registro_cuidado' %}" class="ui green button">Crear Registro</a>
            </div>
        {% else %}
            <div class="item">
                <a href="{% url 'login' %}" class="ui button">Iniciar sesión</a>
            </div>
            <div class="item">
                <a href="{% url 'register' %}" class="ui primary button">Crear cuenta</a>
            </div>
        {% endif %}
        <button class="ui button icon basic" id="darkmode">
            <i class="moon icon yellow"></i>
          </button>
    </div>
</div>