{% extends "base.html" %}

{% block content %}
<div class="ui container">
    <h2 class="ui huge header">Mis Plantas</h2>
    <div class="ui stackable four column grid">
        {% for planta in plantas %}
            <div class="column">
                <div class="ui green card">
                    <div class="image">
                        <img src="{{ planta.imagen.url }}" alt="{{ planta.nombre_comun }}">
                    </div>
                    <div class="content">
                        <div class="header">{{ planta.nombre_comun }}</div>
                        {% if planta.nombre_cientifico %}
                            <div class="meta">
                                <span class="date" style="font-style: italic;">{{ planta.nombre_cientifico }}</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="extra content">
                        <a href="{% url 'registros_planta' planta.id %}" class="ui button">Revisar</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No hay plantas registradas aún.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
