{% extends 'base.html' %}

{% block content %}
<div class="ui container">
    <form method="post" class="ui form">
        {% csrf_token %}
        <h2 class="ui huge header">{{ pregunta_cuidado.pregunta.texto }}</h2>

        {% if pregunta_cuidado.pregunta.tipo == 'opciones' %}
            {% for opcion in pregunta_cuidado.pregunta.get_opciones %}
                <button type="submit" name="respuesta" value="{{ opcion }}" class="ui fluid large button">
                    {{ opcion }}
                </button>
            {% endfor %}
        {% elif pregunta_cuidado.pregunta.tipo == 'numerica' %}
            <!-- Input field for numeric response -->
            <div class="field">
                <label for="respuesta">Respuesta</label>
                <input type="number" name="respuesta" id="respuesta" class="ui input">
            </div>
            <button type="submit" class="ui fluid large primary button">Enviar</button>
        {% endif %}

        {% if respuesta_seleccionada %}
            <div class="ui section divider"></div>
            <a href="{% url 'siguiente_pregunta' registro_cuidado.id pregunta_cuidado.id %}" class="ui primary button">Siguiente</a>
        {% endif %}
    </form>
</div>
{% endblock %}
